@mixin default-spacing {
  p + p {
    margin-top: $pad/2;
  }
}

@mixin headings {
  h1, h2, h3, h4, h5, h6 {
    font-size: $heading-size;
    padding-top: $heading-padding;
  }
  
  h2 {
    font-variant: small-caps;
  }
  
  h3 {
    font-style: italic;
  }
}

@mixin basic-typography {
  font-size: $font-size;
  line-height: $line-height;
}