<article id="about">
  <div class="container">
    <h3>About Csongor</h3>
    <p>
      csongor is one of the few <a title="What is an unicorn?" href="{{ site.url }}/unicorn">unicorns</a> available today. 
    </p>
    
    <p>
      from consulting to deployment he helps you to <a title="Deliver the message" href="{{ site.url }}/message">deliver your message</a> across devices and browsers.
    </p>
    
    <p>
      working with him you'll <a title="Get more" href="{{ site.url }}/more">get more. A product</a> instead of a simple website.
    </p>
  </div>
</article>





