<section id="about">
  <aside>
    <h3>About Csongor</h3>
    <p>
      Csongor is one of the few <a title="What is an unicorn?" href="{{ site.url }}/unicorn">unicorns</a> available today. 
    </p>
    
    <p>
      From consulting to deployment he helps you to <a title="Deliver the message" href="{{ site.url }}/message">deliver your message</a> across all devices and browsers.
    </p>
    
    <p>
      Working with him you'll <a title="Get more" href="{{ site.url }}/more">get more. A product</a> instead of a simple website.
    </p>
  </aside>
  
  <nav>
    <h3>Twitter and email</h3>
    <ul>
      <li>
        <a title="Email" href="mailto:bartus.csongor@gmail.com">
          {% include svg.html svg='/assets/images/icon-email.svg' png='/assets/images/icon-email.png' title='Email' %}
        </a> 
      </li>
      <li>
        <a title="Twitter" href="https://twitter.com/metamn">
          {% include svg.html svg='/assets/images/icon-twitter.svg' png='/assets/images/icon-twitter.png' title='Twitter' %}
        </a> 
      </li>
    </ul>
  </nav>
</section>





