<link rel="shortcut icon" href="{{ site.url }}/assets/icons/favicon.ico" type="image/x-icon" />

<link rel="apple-touch-icon" href="{{ site.url }}/assets/icons/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/assets/icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/assets/icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/icons/apple-touch-icon-152x152.png" />

<meta name="msapplication-square70x70logo" content="{{ site.url }}/assets/icons/smalltile.png" />
<meta name="msapplication-square150x150logo" content="{{ site.url }}/assets/icons/mediumtile.png" />
<meta name="msapplication-wide310x150logo" content="{{ site.url }}/assets/icons/widetile.png" />
<meta name="msapplication-square310x310logo" content="{{ site.url }}/assets/icons/largetile.png" />