---
layout: portfolio
title: Older projects
type: older projects
images:
  - url: /assets/images/languagelab-desktop-1.png
    url-mobile: /assets/images/languagelab2.png
    title: Languagelab
  - url: /assets/images/languagelab-desktop-1.png
    title: Anvelocom
    link: /anvelocom
  - url: /assets/images/smuff-v3-desktop-1.png
    title: Anvelocom
    link: /anvelocom
  - url: /assets/images/smuff-v3-desktop-2.png
    title: Anvelocom
    link: /anvelocom
---


{% for image in page.images %}
  <article>
    <h3>{{ image.title }}</h3>
    {% assign image_index = forloop.index0 %}
    {% include responsive-images.html type='from post' link='' %}
  </article>
{% endfor %}

