---
layout: portfolio
title: Older projects
type: older projects
images:
  - url: /assets/images/ceu-desktop-1.png
    title: Central European University
  - url: /assets/images/scrol-desktop-1.png
    title: Shopify Theme Scrol
  - url: /assets/images/languagelab-desktop-1.png
    title: Languagelab
  - url: /assets/images/smuff-v3-desktop-1a.png
    title: Smuff v3
  - url: /assets/images/smuff-v3-desktop-2.png
    title: Smuff v3
---

<h1>older projects</h1>

{% for image in page.images %}
  <article>
    {% assign image_index = forloop.index0 %}
    {% include responsive-images.html type='from post' link='' small='true' %}
    
    <h1>
      {{ image.title }}
    </h1>
    
    <div class="category">
      {{ image.title }}
    </div>
  </article>
{% endfor %}

