---
layout: portfolio
title: Logo Design
type: identity
published: false
images:
  - url: /assets/images/anvelocom-logo.png
    title: Anvelocom
    link: /anvelocom
  - url: /assets/images/scatter-logo.png
    title: Scatter
    link: /scatter
  - url: /assets/images/inu-logo.png
    title: Inu Chivu
    link: /inu
  - url: /assets/images/ceu-logo.png
    title: CEU
    link: /ceu
  - url: /assets/images/brandyou.png
    title: Brandyou
    link: /identity
---

{% include smuff-logo.html %}

{% for image in page.images %}
  <article>
    <h3>{{ image.title }}</h3>
    {% assign image_index = forloop.index0 %}
    {% include responsive-images.html type='from post' link-from-image='true' %}
  </article>
{% endfor %}
