---
layout: portfolio
title: Inu Chivu
type: portfolio
link: http://inu.ro
services:
  - Logo
  - Responsive web design
  - Front-end development
technologies:
  - Wordpress
  - PHP
  - HTML5
  - CSS3
  - jQuery
  - SASS
  - Compass
categories:
  - portfolio
  - Logo
  - Responsive web design
  - Front-end development
  - Wordpress
  - PHP
  - HTML5
  - CSS3
  - jQuery
  - SASS
  - Compass
images:
  - url: /assets/images/inu-desktop-1.png
    title: Inu Chivu
  - url: /assets/images/inu-logo.png
    title: dynamic and balanced
  - url: /assets/images/inu-smartphone-1-naked.png
    title: the frontpage on mobile
    random: true
  - url: /assets/images/inu-smartphone-2-naked.png
    title: changing contrast
  - url: /assets/images/inu-tablet-1-naked.png
    title: clean and simple navigation
  - url: /assets/images/inu-tablet-2-naked.png
    title: better overview
  - url: /assets/images/inu-desktop-2-naked.png
    title: the frontpage on large screens
---


<article class="intro">
  <h1>inu chivu</h1>
  
  <p>
    <a href="{{ page.link }}" title="{{ page.title }}">Inu Chivu</a> is a photographer. He was struggling with his old, non-responsive website where images were uploaded manually via FTP.
  </p>
</article>


{% include services.html %}




<article class="image smartphone">
  <h3>cross device compatibility</h3>
  
  {% assign image_index = 2 %}
  {% include responsive-images.html type='from post' link="" %}
  
  <aside>
    <h3>cross device compatibility</h3>
    
    <p>
      moving out the portfolio from the constraints of the Adobe Flash was in the same way important than moving out the site from desktop to all other devices.
    </p>
  </aside>
</article>


<article class="image smartphone">
  <h3>usability</h3>
  
  {% assign image_index = 3 %}
  {% include responsive-images.html type='from post' link="" %}
  
  <aside>
    <h3>usability</h3>
    <p>
      sometimes dark background gives better contrast to enjoy images on the web. we've added a persistent contrast switcher solution to let people have better experience.
    </p>
  </aside>
</article>


<article class="image tablet">
  <h3>minimalism</h3>
  
  {% assign image_index = 4 %}
  {% include responsive-images.html type='from post' link="" %}
  
  <aside>
    <h3>minimalism</h3>
    
    <p>
      we are presenting high quality photography with this portfolio. This made us to decide everything else will stay minimal, out of the viewers way. 
    </p>
  </aside>
</article>


<article class="image tablet">
  <h3>asymmetry</h3>
  
  {% assign image_index = 5 %}
  {% include responsive-images.html type='from post' link="" %}
  
  <aside>
    <h3>asymmetry</h3>
    <p>
      when browsing images / image thumbnails the classic, uniformly aligned grid is boring. with a little asymmetry we can drive viewers to see all thumbnails at once without getting tired by the uniformity.
    </p>
  </aside>
</article>


<article class="image desktop">
  <h3>nothing just the content</h3>
  
  {% assign image_index = 6 %}
  {% include responsive-images.html type='from post' link="" %}
  
  <aside>
    <h3>nothing just the content</h3>
    <p>
      and that's it.
    </p>
  </aside>
</article>



<article class="logo">
  <h3>the logo</h3>
  
  {% assign image_index = 1 %}
  {% include responsive-images.html type='from post' link="" %}
  
  <aside>
    <h3>the logo</h3>
  </aside>
</article>


