---
layout: portfolio
title: Anvelocom
type: e-commerce
services:
  - Logo
  - Responsive web design
  - Front-end development
  - Back-end development
technologies:
  - Wordpress
  - PHP
  - HTML5
  - CSS3
  - jQuery
  - SASS
  - Compass
categories:
  - e-commerce
  - Logo
  - Responsive web design
  - Front-end development
  - Back-end development
  - Wordpress
  - PHP
  - HTML5
  - CSS3
  - jQuery
  - SASS
  - Compass
images:
  - url: /assets/images/anvelocom-desktop-1.png
    title: Anvelocom
  - url: /assets/images/anvelocom-logo.png
    url-mobile: /assets/images/anvelocom-logo.png
    title: The Anvelocom logo
  - url: /assets/images/anvelocom-smartphone-naked.png
    url-mobile: /assets/images/anvelocom-smartphone-naked.png
    title: The mobile version especialy delighted the OCCRP board
  - url: /assets/images/anvelocom-smartphone-2-naked.png
    url-mobile: /assets/images/anvelocom-smartphone-2-naked.png
    title: Main navigation is smart and strong on all devices
  - url: /assets/images/anvelocom-tablet-naked.png
    url-mobile: /assets/images/anvelocom-tablet-naked.png
    title: Content adapts to various screen estates
  - url: /assets/images/anvelocom-tablet-2-naked.png
    url-mobile: /assets/images/anvelocom-tablet-2-naked.png
    title: Articles have many representations based on their subject
  - url: /assets/images/anvelocom-tablet-3-naked.png
    url-mobile: /assets/images/anvelocom-tablet-3-naked.png
    title: A very catchy archive with minimal white space
  - url: /assets/images/anvelocom-desktop.png
    url-mobile: /assets/images/anvelocom-desktop-naked.png
    title: The frontpage adapts to both laptops and desktops
    random: true
---



<article class="intro">
  <h3>Anvelocom</h3>
  
  <p>
    <a href="http://anvelocom.ro" title="Anvelocom">Anvelocom</a> is a fast growing local e-commerce startup. They invested seriously in their website and became the leader of their niche.
  </p>
</article>


{% include services.html %}




<article class="image smartphone">
  <h3>Frontpage on smartphone</h3>
  
  {% assign image_index = 2 %}
  {% include responsive-images.html type='from post' link="" %}
</article>


<article class="image smartphone">
  <h3>Products page on smartphone</h3>
  
  {% assign image_index = 3 %}
  {% include responsive-images.html type='from post' link="" %}
</article>


<article class="image tablet">
  <h3>Single product page on tablet</h3>
  
  {% assign image_index = 4 %}
  {% include responsive-images.html type='from post' link="" %}
</article>


<article class="image tablet">
  <h3>Frontpage on desktop</h3>
  
  {% assign image_index = 5 %}
  {% include responsive-images.html type='from post' link="" %}
</article>



<article class="image tablet landscape">
  <h3>Checkout page on desktop</h3>
  
  {% assign image_index = 6 %}
  {% include responsive-images.html type='from post' link="" %}
</article>

<article class="image desktop">
  <h3>Checkout page on desktop</h3>
  
  {% assign image_index = 7 %}
  {% include responsive-images.html type='from post' link="" %}
</article>


<article class="logo">
  <h3>The logo</h3>
  
  {% assign image_index = 1 %}
  {% include responsive-images.html type='from post' link="" %}
</article>

