---
layout: portfolio
title: Reboot
type: agency
link: http://reboot.org
services:
  - Back-end development
technologies:
  - PHP
  - Wordpress
  - HTML5
  - CSS3
  - jQuery
  - SASS
  - Compass
categories:
  - agency
  - Back-end development
  - PHP
  - Wordpress
  - HTML5
  - CSS3
  - jQuery
  - SASS
  - Compass
images:
  - url: /assets/images/reboot-logo.png
    title: reboot, the social enterprise
  - url: /assets/images/reboot-dashboard.png
    title: the new dashboard with a single extension
  - url: /assets/images/reboot-case-study.png
    title: a single place to enter metadata
  - url: /assets/images/reboot-format.png
    title: seamless integration
  - url: /assets/images/reboot-plugin.png
    title: easy data retrieval
---


<article class="intro">
  <h1>reboot</h1>
  
  <p>
    <a href="http://reboot.org" title="Reboot">reboot</a> is an interesting startup designing and developing social contracts worldwide.
  </p>
  <p>
    when redesigning their old website they've migrated also their Wordpress backend to support their rich content structures.
  </p>
</article>

{% include services.html %}


<article class="image">
  <h3>content design</h3>
  
  {% assign image_index = 0 %}
  {% include responsive-images.html type='from post' link="" %}
  
  <aside>
    <p>
      beside usual blog posts Reboot is dealing with complex case studies, team profile pages, work examples, multi-page mission statements &mdash; custom content Wordpress is not prepared yet.
    </p>
    <p>
      these metadata was stored into various, non-interconnected, individual plugins which made content administration a pain.
    </p>
    <p>
      as a first task this extended content structure was redesigned to be Wordpress native by eliminating all plugins.
    </p>
  </aside>
</article>


<article class="image">
  <h3>simple administration</h3>
  
  {% assign image_index = 1 %}
  {% include responsive-images.html type='from post' link="" %}
  
  <aside>
    <p>
      instead of content scattered through different administration pages we've created a single admin panel to manage all metadata.
    </p>
    <p>
      in plus, all metadata was stored into the standard Wordpress database making it future proof. Anytime Wordpress is updated the data goes automatically with the update.  
    </p>
  </aside>
</article>


<article class="image">
  <h3>plugin development</h3>
  
  {% assign image_index = 2 %}
  {% include responsive-images.html type='from post' link="" %}
  
  <aside>
    <p>
      a single plugin was created to facilitate the input of metadata on all these screens where the default Wordpress functionality was not enough. 
    </p>
    <p>
      using native controls and integration into the original workflow Reboot editors could naturally add new content without extra visual and functional overhead.
    </p>
    
    {% assign image_index = 3 %}
    {% include responsive-images.html type='from post' link="" %}
  </aside>
</article>

<article class="image">
  <h3>theme development</h3>
  
  {% assign image_index = 4 %}
  {% include responsive-images.html type='from post' link="" %}
  
  <aside>
    <p>
      once data was stored and made user-friendly & future proof the last step was to create a Wordpress theme to showcase how this metadata can be displayed using Wordpress functions.
    </p>
    <p>
      together with plugin usage a semantic HTML5 template was created to found the upcomming front-end development tasks for the new design.
    </p>
  </aside>
</article>