/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

body { font-size: 100%; line-height: 1.25; }

@media only screen and (max-width: 47.999em) { body { font-size: 87.5%; line-height: 1.25; } }
@media only screen and (min-width: 90.001em) { body { font-size: 150%; line-height: 1.25; } }
img { max-width: 100%; height: auto; }

h1, h2, h3, h4 { font-family: 'Old Standard TT', serif; font-size: larger; }

h4 { margin-top: 1.25em; }

h3 { margin-top: 2.5em; margin-bottom: 1.25em; }

h2 { margin-top: 3.75em; margin-bottom: 2.5em; }

h1 { margin-top: 3.75em; margin-bottom: 2.5em; font-weight: bold; }

html body { color: #3a3a3a; background: #f9f9f9; font-family: 'Lato', sans-serif; font-weight: 300; }
html body a { color: #ac7c68; background: #f9f9f9; text-decoration: none; }
html body a:hover { border-bottom: 1px solid; }
html body p + p { margin-top: 1.25em; }
html body .container { position: relative; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); padding: 1.25em; }
html body .container header, html body .container #about, html body .container #contact { width: 100%; float: left; }
html body .container header .container, html body .container #about .container, html body .container #contact .container { max-width: 24.58333em; padding: 0; }
html body .container #about .container > h3, html body .container #contact .container > h3 { display: none; }
html body .container header { height: 6.25em; }
html body .container header a { color: #795555; background: #f9f9f9; text-decoration: none; }
html body .container header a:hover { border-bottom: 1px solid; }
html body .container header h4 { font-style: italic; font-family: 'Old Standard TT', serif; }
html body .container header p { font-size: smaller; }
html body .container #about { margin-bottom: 5em; }
html body .container #contact .container { margin: 5em 0; }
html body .container #contact .container p { text-align: center; border: 1px solid #dfdfdf; padding: 0.625em 1.25em; box-shadow: 1px 0 #dfdfdf, 0 1px #dfdfdf, 2px 1px #dfdfdf, 1px 2px #dfdfdf, 3px 2px #dfdfdf, 2px 3px #dfdfdf, 4px 3px #dfdfdf, 3px 4px #dfdfdf, 5px 4px #dfdfdf, 4px 5px #dfdfdf; width: calc(100% - 2.5em - 24px); }
html body .container #contact .container p a { color: #3a3a3a; background: #f9f9f9; text-decoration: none; }
html body .container #contact .container p a:hover { border-bottom: 1px solid; }
html body .container #contact .container p span { font-style: italic; font-family: 'Old Standard TT', serif; font-size: larger; }
html body.frontpage main { width: 100%; float: left; }
html body.frontpage main .container { max-width: 36.875em; padding: 0; }
@media only screen and (max-width: 47.999em) { html body.frontpage main .container { margin-top: 5em; } }
html body.frontpage main .container article { margin-bottom: 1.25em; text-align: center; }
html body.frontpage main .container article h1, html body.frontpage main .container article figcaption { display: none; }
html body.frontpage main .container article .category { text-align: center; font-style: italic; font-size: smaller; }
html body.article header, html body.article main, html body.portfolio header, html body.portfolio main { width: 100%; float: left; }
html body.article header .container, html body.article main .container, html body.portfolio header .container, html body.portfolio main .container { max-width: 36.875em; padding: 0; }
html body.article main p + p, html body.article main p + figure, html body.article main ol + figure, html body.article main figure + p, html body.article main table + p, html body.portfolio main p + p, html body.portfolio main p + figure, html body.portfolio main ol + figure, html body.portfolio main figure + p, html body.portfolio main table + p { margin-top: 1.25em; }
html body.article main figure + figure, html body.portfolio main figure + figure { margin-top: 2.5em; }
html body.article main figure a:hover, html body.portfolio main figure a:hover { border: none !important; }
html body.article main figcaption, html body.portfolio main figcaption { text-align: center; font-style: italic; font-size: smaller; }
html body.article main ol, html body.portfolio main ol { list-style-type: decimal; }
html body.article main .spacer, html body.portfolio main .spacer { width: 100%; float: left; margin-bottom: 1.25em; }
html body.article main blockquote, html body.portfolio main blockquote { margin: 1.25em 0; padding: 1.25em; border: 1px solid #dfdfdf; width: calc(100% - 2.5em - 2px); }
html body.article main table, html body.portfolio main table { width: 100%; display: table !important; }
html body.article main table thead th, html body.article main table tbody td, html body.portfolio main table thead th, html body.portfolio main table tbody td { padding: 0.625em; padding-left: 0; border-bottom: 1px solid #dfdfdf; }
html body.article main mark, html body.portfolio main mark { color: #f9f9f9; background: #faafaf; padding: 0.15625em 0.3125em; }
html body.article #about .container, html body.portfolio #about .container { border-top: 1px solid #dfdfdf; padding-top: 5em; margin-top: 5em; }
html body.portfolio main article { width: 100%; float: left; }
html body.portfolio main article figure { width: 100%; float: left; margin-bottom: 1.25em; }
html body.portfolio main article figure figcaption { text-align: left; }
