/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "colors";
@import "grid";
@import "typography";
@import "decorations";


html {
  body {
    @include body;
    
    .container {
      @include container;
      
      header, #about {
        @include column;
      }
      
      header {
        @include rows(1);
        @include header;
      }
      
      #about {
        @include rows(2);
        @include hide-title;
      }
      
      #contact
        .container {
          margin: $grid-height 0;
          
          p {
            @include button;
          }
        }
      }
    }
  
    &.frontpage {
      main {
        @include column($text-grid-width + $text-grid-width / 2);
        
        .container {
          @include mobile {
            margin-top: $grid-height;
          }
          
          article {
            margin-bottom: $gutter;
            @include thumb;
          }
        }
      }
    }
    
    
    
    &.article, &.portfolio {
      header, main {
        @include column($text-grid-width + $text-grid-width / 2);
      }
    
      main {
        .container {
          @include separator;
        }
      }
    }
    
    
    &.portfolio {
      main {
        @include portfolio-item;
      }
    }
  
  }
}
